<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>miPague</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF8" />

	<!--  styles -->
	<link rel="stylesheet" type="text/css" href="../web/css/style.css" />	

	<!-- lib -->
	<script type="text/javascript" src="../web/lib/jquery/jquery.js"></script>
	<script type="text/javascript" src="../web/lib/underscore/underscore.js"></script>
	<script type="text/javascript" src="../web/lib/backbone/backbone.js"></script>
	<script type="text/javascript" src="../web/lib/date.js"></script>
	
	<!-- application -->
	<script type="text/javascript" src="../web/js/app.js"></script>	
	<script type="text/javascript" src="../web/js/jst.js"></script>
	<script type="text/javascript" src="../web/js/model/GroupModel.js"></script>
	<script type="text/javascript" src="../web/js/model/ActivityModel.js"></script>
	<script type="text/javascript" src="../web/js/collection/GroupCollection.js"></script>
	<script type="text/javascript" src="../web/js/collection/ActivityCollection.js"></script>
	<script type="text/javascript" src="../web/js/view/GroupListItem.js"></script>
	<script type="text/javascript" src="../web/js/view/GroupList.js"></script>
	<script type="text/javascript" src="../web/js/view/Group.js"></script>
	<script type="text/javascript" src="../web/js/view/ActivityList.js"></script>
	<script type="text/javascript" src="../web/js/view/ActivityListItem.js"></script>
	<script type="text/javascript" src="../web/js/main.js"></script>	
</head>
<body>
	<p>
		<a id="logout" href="#">logout</a>
	</p> 
</body>
</html>