<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF8" />
	
	<!--  styles -->
	<link rel="stylesheet" type="text/css" href="../resources/css/login.css">
	
	<!--  scripts -->
	<script type="text/javascript" src="../jquery/jquery.js"></script>
	<script type="text/javascript" src="../jquery/jquery.validate.js"></script>
	<script type="text/javascript" src="../jquery/jquery.watermark.js"></script>
	<script type="text/javascript" src="../resources/jscripts/login.js"></script>
	
	<title>miPague</title>
</head>
<body>
	<!-- begin section header -->
	<div class="wrapper">
		<div class="section header">
			<div class="content">
				<h1 class="logo">
					<a title="miPague" href="#">miPague</a>
				</h1>
				<ul class="menu">
					<li><a id="register" class="white-button" href="#" title="Cadastre-se">CADASTRE-SE</a></li>
				</ul>
			</div>	
		</div>
	</div>
	<!-- end section header -->
	
	<!-- begin section body -->
	<div class="wrapper">
		<div class="section body">
			<div class="content">
				<div class="sign-box">
					<form id="loginForm">
						<h2>Login</h2>
						<p>
							<input type="text" name="username" id="username"></input>
						</p>
						<p>
							<input type="password" name="password" id="password"></input>
						</p>
						<input class="login-button" type="submit" value="entrar" id="login"></input>
						<label class="keep-connected">
							<input type="checkbox" name="keepConnected"><span>Continuar conectado</span></input>
						</label>
						<a class="forgot-password">Esqueceu sua senha?</a>
					</form>
				</div>
				
				<div class="info">
					<ul class="features">
						<li>
							<h3>Automático</h3>
							<p>texto descritivo</p>
						</li>
						<li>
							<h3>Disponível</h3>
							<p>texto descritivo</p>
						</li>
						<li>
							<h3>Colaborativo</h3>
							<p>texto descritivo</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- end section body -->
	
	<!-- begin section footer -->
	<div class="wrapper">
		
	</div>
	<!-- end section footer -->	
</body>
</html>
