<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	
	<!--  styles -->
	<link rel="stylesheet" type="text/css" href="../resources/css/welcome.css">
	
	<!--  scripts -->
	<script type="text/javascript" src="../jquery/jquery.js"></script>
	<script type="text/javascript" src="../jquery/jquery.validate.js"></script>	
	<script type="text/javascript" src="../resources/jscripts/login.js"></script>
	
	<title>miPague</title>
</head>
<body>
	<div class="wrapper">
		<div class="header">
			<div class="section">
				<h1 class="logo">
					<a title="miPague" href="#">miPague</a>
				</h1>
				<ul class="menu">
					<li><a id="register" class="white-button" href="#" title="Cadastre-se">CADASTRE-SE</a></li>
				</ul>
			</div>	
		</div>
	</div>
	
	<form id="loginForm">
		<p>
			<label>e-mail</label>
			<input type="text" name="username" id="username"></input>
		</p>
		<p>
			<label>senha</label>
			<input type="password" name="password" id="password"></input>
		</p>
		
		<input type="submit" value="entrar" id="login"></input>
	</form>	
</body>
</html>
