/*
 * clear styles
 */
 
* {
	margin: 0;
	padding:0;
}

li {
	list-style: none;
}

body, html {
	font: 13px Arial, Helvetica, sans-serif;
	height: 100%;
	overflow: hidden;
}

h2 {
	font-size: 18px;
	color: #666666;
	margin-bottom: 20px;
}

h3 {
	font-size: 16px;
	font-weight: bold;
}

a {
	color: #15C;
	text-decoration: none;	
}

.wrapper {
	min-width:950px;
	clear:both;
}

.section {
	width: 950px;
	margin: 0 auto;	
}

.header {
	height:90px;
	background: url('../images/bg-header.png') no-repeat 0 bottom transparent;
}

.content{
	display: inline-block;
	width:100%;
}

.body .content{
	margin-top:30px;
}

.features li {
	margin-bottom: 20px;
}

.sign-box {
	width: 380px;
	float: right;
	padding: 10px 20px;
	background-color: #F1F2F3;
}

.sign-box p {
	margin: 0 0 20px;
}

.sign-box p input{
	padding: 0 8px;
	border: 1px solid #DCDCDC;
	border-top-color: silver;
	height: 32px;
	width: 100%;
	font-size: 16px;
	color: #444444;
	box-sizing: border-box;
}

.sign-box .login-button {
	float: right;
}

.sign-box .keep-connected span {
	padding-left: 8px;
}

.sign-box .keep-connected input,
.sign-box .keep-connected span {
	vertical-align: middle;
}

.sign-box .forgot-password {
	margin: 10px 0 5px;
	display: block;
	clear: both;
}

.info {
	margin-right: 480px;
}

.header .logo, .header .logo a {
	display:block;
	height:60px;
	width:250px;
}

.header .logo {
	float: left;
	background:url(../images/mipague-logo.png) no-repeat transparent;
	margin-top:10px
}

.header .logo a {
	text-indent: -9999px;
	overflow: hidden;
    color: #484848;
	font-size: 12px;
	outline: medium none;
	text-decoration: none;
}

.header .menu {
	float: right;
	margin-top: 30px;
}

.header .menu li {
	float: left;
}

a.white-button{
	text-align: center;
	width: 100px;
	color: #0669DE;
	font-size:11px;
	font-weight: bold;
	border:1px solid #E8E8E8;
	margin: 0 5px;
	padding:8px 10px 6px;
	cursor: pointer;
	border-radius:3px;
	background: url('../images/white-button.png') repeat-x #FFFFFF;
	text-decoration: none;
}

a.white-button:hover{
	text-decoration: underline;
}

.white-button:hover{
	text-decoration: underline;
}	
