.mpg-btn{
	cursor:pointer;
	white-space: nowrap;
	position: relative;
}

.mpg-btn button{
    border:0 none;
    background-color:transparent;
    padding-left:3px;
    padding-right:3px;
    cursor:pointer;
    margin:0;
    overflow:visible;
    width:auto;
    -moz-outline:0 none;
    outline:0 none;
}

.mpg-btn-link {
	display: inline-block;
}

.mpg-btn-link button {
	color: #FFFFFF;
	text-shadow: 1px 1px 2px #000000;
	font-weight: bold;
	height: 30px;
}

.mpg-btn-link span{
	background-image: url('../img/btn-link-sprite.png');
	float: left;
	height: 30px;
}

/* Only text */
.x-btn-noicon .x-btn-small .x-btn-text{
	height: 16px;
}

/* Only icons */
.x-btn-icon .x-btn-text{
    background-position: center;
	background-repeat: no-repeat;
}

.x-btn-icon .x-btn-small .x-btn-text{
	height: 16px;
	width: 16px;
}

.x-btn-icon .x-btn-medium .x-btn-text{
    height: 24px;
	width: 24px;
}

.x-btn-icon .x-btn-large .x-btn-text{
    height: 32px;
	width: 32px;
}

/* Icons and text */
/* left */
.x-btn-text-icon .x-btn-icon-small-left .x-btn-text{
    background-position: 0 center;
	background-repeat: no-repeat;
    padding-left:18px;
    height:16px;
}

.x-btn-text-icon .x-btn-icon-medium-left .x-btn-text{
    background-position: 0 center;
	background-repeat: no-repeat;
    padding-left:26px;
    height:24px;
}

.x-btn-text-icon .x-btn-icon-large-left .x-btn-text{
    background-position: 0 center;
	background-repeat: no-repeat;
    padding-left:34px;
    height:32px;
}

/* top */
.x-btn-text-icon .x-btn-icon-small-top .x-btn-text{
    background-position: center 0;
	background-repeat: no-repeat;
    padding-top:18px;
}

.x-btn-text-icon .x-btn-icon-medium-top .x-btn-text{
    background-position: center 0;
	background-repeat: no-repeat;
    padding-top:26px;
}

.x-btn-text-icon .x-btn-icon-large-top .x-btn-text{
    background-position: center 0;
	background-repeat: no-repeat;
    padding-top:34px;
}

/* right */
.x-btn-text-icon .x-btn-icon-small-right .x-btn-text{
    background-position: right center;
	background-repeat: no-repeat;
    padding-right:18px;
    height:16px;
}

.x-btn-text-icon .x-btn-icon-medium-right .x-btn-text{
    background-position: right center;
	background-repeat: no-repeat;
    padding-right:26px;
    height:24px;
}

.x-btn-text-icon .x-btn-icon-large-right .x-btn-text{
    background-position: right center;
	background-repeat: no-repeat;
    padding-right:34px;
    height:32px;
}

/* bottom */
.x-btn-text-icon .x-btn-icon-small-bottom .x-btn-text{
    background-position: center bottom;
	background-repeat: no-repeat;
    padding-bottom:18px;
}

.x-btn-text-icon .x-btn-icon-medium-bottom .x-btn-text{
    background-position: center bottom;
	background-repeat: no-repeat;
    padding-bottom:26px;
}

.x-btn-text-icon .x-btn-icon-large-bottom .x-btn-text{
    background-position: center bottom;
	background-repeat: no-repeat;
    padding-bottom:34px;
}

/* background positioning */
.mpg-btn-link span.mpg-btn-l,
.mpg-btn-link span.mpg-btn-r {
	width: 3px;
}

.mpg-btn-link span.mpg-btn-l{
	background-position: 0 0;
}

.mpg-btn-link span.mpg-btn-m{
	background-position: 0 -30px;
	padding: 0 5px;
}

.mpg-btn-link span.mpg-btn-r{
	background-position: 0 -60px;
}

.mpg-btn-link.mpg-btn-over span.mpg-btn-l{
	background-position: 0 -90px;
}

.mpg-btn-link.mpg-btn-over span.mpg-btn-m{
	background-position: 0 -120px;
	padding: 0 5px;
}

.mpg-btn-link.mpg-btn-over span.mpg-btn-r{
	background-position: 0 -150px;
}

/* With menu */
.mpg-btn-m em.mpg-btn-arrow{
	padding-right:10px;
}

/**
 * 	Menu
 */
.mpg-menu {
	position: absolute;
	background-color: #FFFFFF;
}

.mpg-menu-item {
	margin: 3px 0;
	
}

.mpg-menu-item a {
	text-decoration: none;
	display: block;
	color: #000000;
	font-weight: bold;
	padding: 5px 10px;
}

.mpg-menu-item a:hover {
	background-color: #F5F5F5;
}
