.mpg-btn{
	cursor:pointer;
	white-space: nowrap;
	position: relative;
}

.mpg-btn button{
    border:0 none;
    background-color:transparent;
    padding: 0 5px;
    cursor:pointer;
    margin:0;
    overflow:visible;
    width:auto;
    -moz-outline:0 none;
    outline:0 none;
}

.mpg-btn-link {
	display: inline-block;
}

.mpg-btn-link button {
	color: #FFFFFF;
	text-shadow: 1px 1px 2px #000000;
	font-weight: bold;
	height: 30px;
}

.mpg-btn-link span.mpg-btn-l,
.mpg-btn-link span.mpg-btn-r,
.mpg-btn-link span.mpg-btn-m {
	background-image: url('../img/btn-link-sprite.png');
	float: left;
	height: 30px;
}

/* background positioning */
.mpg-btn-link span.mpg-btn-l,
.mpg-btn-link span.mpg-btn-r {
	width: 3px;
}

.mpg-btn-link span.mpg-btn-l{
	background-position: 0 0;
}

.mpg-btn-link span.mpg-btn-m{
	background-position: 0 -30px;
	padding: 0 5px;
}

.mpg-btn-link span.mpg-btn-r{
	background-position: 0 -60px;
}

.mpg-btn-link.mpg-btn-over span.mpg-btn-l{
	background-position: 0 -90px;
}

.mpg-btn-link.mpg-btn-over span.mpg-btn-m{
	background-position: 0 -120px;
	padding: 0 5px;
}

.mpg-btn-link.mpg-btn-over span.mpg-btn-r{
	background-position: 0 -150px;
}

/* With menu */
.mpg-btn-link.mpg-btn-menu-active span.mpg-btn-l{
	background-position: 0 -180px;
}

.mpg-btn-link.mpg-btn-menu-active span.mpg-btn-m{
	background-position: 0 -210px;
}

.mpg-btn-link.mpg-btn-menu-active span.mpg-btn-r{
	background-position: 0 -240px;
}

.mpg-btn-menu-active {
	z-index: 1000;
}

.mpg-btn-link.mpg-btn-menu-active button {
	color: #000000;
	text-shadow: none;
}

/**
 * 	Menu
 */
.mpg-btn-menu em.mpg-btn-arrow span.mpg-arrow{
	position: relative;
	top: -1px;
	border-style: solid dashed dashed;
	border-color: transparent;
	border-top-color: #FFFFFF;
	display: -moz-inline-box;
	display: inline-block;
	font-size: 0;
	height: 0;
	line-height: 0;
	width: 0;
	border-width: 4px 4px 0;
	padding-top: 1px;
}

.mpg-btn-menu-active em.mpg-btn-arrow span.mpg-arrow{
	border-top-color: #000000;
}

.mpg-menu {
	position: absolute;
	z-index: 999;
	background-color: #FFFFFF;
	border: 1px solid #D4D4D4;
	-webkit-box-shadow: 0px 0px 5px 0px #666666;
	box-shadow: 0px 0px 5px 0px #666666;
}

.mpg-menu-item {
	margin: 3px 0;
	
}

.mpg-menu-item a {
	text-decoration: none;
	display: block;
	color: #000000;
	font-weight: bold;
	padding: 5px 10px;
}

.mpg-menu-item a:hover {
	background-color: #F5F5F5;
	color: #B62A59;
}
