/*
 * clear styles
 */
 
* {
	margin: 0;
	padding:0;
	list-style: none;
}

*:focus  
{  
    outline: none;  
}

img {
	border:none;
}

html, body {
	font: 14px Arial, Helvetica, sans-serif;
	height: 100%;
}

h2 {
	font-size: 20px;
	color: #908E8F;
	margin-bottom: 20px;
}

h3 {
	font-size: 18px;
	color: #B62A59;
	font-weight: bold;
}

h4 {
	font-size: 20px;
	color: #FF6636;
	font-weight: bold;
}

a {
	color: #15C;
	text-decoration: none;	
}

a:hover {
	text-decoration: underline;
	cursor: pointer;	
}

.application {
	min-height: 100%;
	position: relative;
}

/*
 * IE6 hack
 */
* html .application {
	height: 100%;
}

.wrapper {
	min-width:950px;
	clear:both;
}

.header .section {
	height:90px;
	background: url('../img/bg-header.png') no-repeat 0 bottom transparent;
}

.section {
	width: 950px;
	margin: 0 auto;	
}

.content{
	display: inline-block;
	width:100%;
}

.body {
	padding-bottom: 120px;
}

.body .content{
	margin-top:30px;
}

.features li {
	margin: 10px 0 20px;
	height: 60px;
}

.features li img {
	float: left;
	margin-top: -10px;
}

.features li h3{
	margin-bottom: 5px;
}

.features li p,
.features li h3{
	margin-left: 100px;
}

.sign-box {
	width: 360px;
	float: right;
	padding: 15px 20px;
	background-color: #E5E5E5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
}

.sign-box div {
	margin: 0 0 20px;
}

.sign-box .login-button {
	float: right;
}

.sign-box .keep-connected span {
	padding-left: 8px;
}

.sign-box .keep-connected input,
.sign-box .keep-connected span {
	vertical-align: middle;
}

.sign-box .forgot-password {
	margin: 10px 0 5px;
	display: block;
	clear: both;
}

.sign-box .keep-connected {
	height: 32px;
	line-height: 32px;
	color: #333;	
}

.info {
	margin-right: 480px;
}

.operation {
	margin: 40px 0;
}

.operation-steps {
	display: inline-block;
	width: 100%;
}

.operation-steps li {
	text-align: center;
	float: left;
	height: 140px;
	width: 236px;	
	border-left: 1px dotted #CCC;
}

.operation-steps li.no-border {
	border: none;
}

.operation-steps li img{
	display: block;
	margin: 0 auto 5px;
}

.operation-steps li span{
	color: #FF6636;
	display: block;
	width: 210px;
	margin: 0 auto;
	font-weight: bold;
}

.operation .border-top-wrapper,
.operation .border-bottom-wrapper {
	clear: both;
	height: 5px;
	overflow: hidden;
}

.operation .border-top-wrapper {
	margin: 15px 0 25px;
}

.operation .border-bottom-wrapper {
	margin: 25px 0 30px;
}

.operation .orange-border {
	border-color: #FF6636;
	border-style: solid;
	border-width: 0 0 0 100px;
	width: 850px;
}

.operation span.border{
	border-bottom: 1px solid #E8E8E8;
	display: block;
	height: 4px;
}

.header .logo, .header .logo a {
	display:block;
	height:60px;
	width:250px;
}

.header .logo {
	float: left;
	background:url(../img/mipague-logo.png) no-repeat transparent;
	margin-top:10px
}

.header .logo a {
	text-indent: -9999px;
	overflow: hidden;
    color: #484848;
	font-size: 12px;
	outline: medium none;
	text-decoration: none;
}

.header .menu {
	float: right;
	margin-top: 30px;
}

.header .menu li {
	float: left;
}

.big-button-ct {
	text-align: center;
}

.blue-button {
	background: url('../img/bg-blue-button.png') repeat-x;
	color: white;
	width: 300px;
	height: 50px;
	line-height:50px;
	display: inline-block;
	border-radius: 2px;
	border: 1px solid #0669DE;
}

.blue-button span {
	font-size:15px;
	font-weight: bold;
}

.blue-button span.highlight {
	font-size:25px;
	margin-right: 10px;
}

.footer {
	position: absolute;
	width: 100%;
	bottom: 0;
}

.footer .content {
	background: url('../img/divider.png') no-repeat center top transparent;
}

.footer .copyright {
	font-size: 12px;
	color: #666666;
	text-align: center;
	font-weight: bold;
	margin: 10px 0 20px;
	height: 20px;
}

/*
 * Style
 */

.mipague-button {
	display: inline-block;
	min-width: 46px;
	text-align: center;
	color: #444;
	font: 11px Arial, Helvetica, sans-serif;
	font-weight: bold;
	height: 28px;
	padding: 0 10px;
	line-height: 28px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #DCDCDC;
	background-color: #F5F5F5;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#F5F5F5),to(#F1F1F1));
	background-image: -webkit-linear-gradient(top,#F5F5F5,#F1F1F1);
	background-image: -moz-linear-gradient(top,#F5F5F5,#F1F1F1);
	background-image: -ms-linear-gradient(top,#F5F5F5,#F1F1F1);
	background-image: -o-linear-gradient(top,#F5F5F5,#F1F1F1);
	background-image: linear-gradient(top,#F5F5F5,#F1F1F1);
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	cursor: pointer;	
}

.login-button{
	width: 80px;
	height: 32px;
	line-height: 30px;
	border: 1px solid #187DF8;
	color: #FFF;
	font-size: 14px;
	background-color: #4EA0F3;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#4EA0F3),to(#187DF8));
	background-image: -webkit-linear-gradient(top,4EA0F3,#187DF8);
	background-image: -moz-linear-gradient(top,#4EA0F3,#187DF8);
	background-image: -ms-linear-gradient(top,#4EA0F3,#187DF8);
	background-image: -o-linear-gradient(top,#4EA0F3,#187DF8);
	background-image: linear-gradient(top,#4EA0F3,#187DF8);	
}

a.white-button{
	text-align: center;
	width: 100px;
	color: #0669DE;
	font-size:11px;
	font-weight: bold;
	border:1px solid #E8E8E8;
	margin: 0 5px;
	padding:8px 10px 6px;
	cursor: pointer;
	border-radius:3px;
	background: url('../img/white-button.png') repeat-x #FFFFFF;
	text-decoration: none;
}

a.white-button:hover,
.white-button:hover
{
	text-decoration: underline;
}

.watermark {
	color: #686868 !important;
}

input.mipague-textfield {
	padding: 0 8px;
	border: 1px solid #C3BCBD;
	border-top-color: #B0B0B0;
	height: 32px;
	width: 100%;
	font-size: 16px;
	color: #444444;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input.mipague-textfield:focus {
	border-color: #6495ED;
	box-shadow: 0 0 5px #6495ED;
}

input.error {
	border-color: #DC143C !important;
	background-color: #FFEAEA !important;
	box-shadow: none !important;
}

label.error {
	color: #DC143C;
	display: block;
	margin-top: 3px;
	font-size: 13px;
}
