/**
 * 	Clear styles
 */

* {
	margin:0;
	padding:0;
	list-style:none;
}

img {
	border:none;
}

*:focus {outline:none;}


/*
 * Basic Structure
 */
* {
  font-size:12px;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
	background-color: #FFFFFF;
	height: 100%;	
}

.app-layout {
    min-width: 900px;
    position: relative;
	min-height: 100%;
}

.header {
	height: 60px;
	background: #FBFAF8;
	border-bottom: 1px solid #F2F2F2;
	position: absolute;
	left: 0;
	right:0;
	top:0;
}

.body {
	margin: 0 300px;
	position: relative;
	min-height: 100%;
}

.body .footer {
	position:absolute;
	height: 50px;
	bottom: 0;
	left: 0;
	right: 0;
}

.body .content {
	padding: 80px 20px;
}

.side {
	position: absolute;
	width: 300px;
	background-color:#E8E8E8;
	top: 60px;
	bottom: 0;
	z-index: 999;
}

.side.left {
	left: 0;
}

.side.right {
	right:0;
}

.mpg-header {
	display: inline-block;
	width: 100%;
}

.mpg-header .mpg-logo,
.mpg-header .mpg-logo a {
	width: 125px;
	height: 30px;
	display: block;
}

.mpg-header .mpg-logo {
	float: left;
	margin: 10px 0;
	background: url('../img/mpg-logo-white.png') no-repeat scroll transparent;
}

.mpg-header .mpg-logo a {
	text-indent: -9999px;
	overflow: hidden;	
}

.mpg-header .mpg-right-menu {
	float: right;
	margin-top: 10px;
}

.mpg-hide-visibility {
	visibility: hidden;
}


.editfield {
	display: inline-block;
}
